
{% extends 'base.html' %}
{% block content %}
        <div class="container1440 about">

            <div class="container1440">
                <div class="container">
                    <div class="row hide-on-small-tablet hide-on-mobile showPc">
                        <div class="one half">
                            <div class="intro_txt aa">
                                <div class="contactUs-title">
                                    <h3>Contact Us</h3>
                                    <h2>联系方式</h2>
                                </div>
                                
                                <ul class="contactUs-lianxi">
                                    <h4>联系人： 佀经理</h4></p>
                                    <h4>联系电话： 15165307999</h4></p>
                                    </li>
                                    <li>
                                        <i></i><h4>联系地址： 山东省菏泽市郓城县随官屯镇</h4>
                                    </li>
                                    <li><i></i><p><h4>传真： xxxxxxxxxxxx</h4></p></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="one half intro_img" margin-left="10px">
                            <div class="inner">
                                <img src="static/images/contact.png" alt="" width = "60%" height="350">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
