{% extends 'base.html' %}
{% block content %}
                
                <div class="container bg2 pb60">
                    <h3 class="ch3">企业文化</h3>
                    <div class="container1000">
                        <div class="row hide-on-small-tablet hide-on-mobile">
                            <div class="one third one-up-small-tablet one-up-mobile">
                                <div class="w310">
                                    <div class="bl3">
                                        <p class="t">质量至上</p>
                                        <p class="p">公司在各工厂举办了“践行卓越 与爱同行”爱心义卖会,动员全体员工的力量,募集爱心善款。义卖所得50万元人民币全部捐赠于上海市罕见病防治基金会,春色满园木业公司始终坚持木业公司“造好芯”的产业口号。木材出厂后用于家具制造等与生活息息相关的
                                            场景，因此木材的质量把关</p>
                                    </div>
                                    <div class="bl3 mtl mbsm">
                                        <p class="t">客户第一</p>
                                        <p class="p">2014年,公司在各工厂举办了“践行卓越 与爱同行”爱心义卖会,动员全体员工的力量,募集爱心善款。义卖所得50万元人民币全部捐赠于上海市罕见病防治基金会,公司在各工厂举办了“践行卓越 与爱同行”爱心义卖会,动员全体员工的力量,募集爱心善款。义卖所得50万元人民币全部捐赠于上海市罕见病防治基金会,持续聚焦社会关爱。</p>
                                    </div>
                                    <img src="static/images/culture1.png" class="mtm">
                                </div>
                            </div>
                            <div class="two thirds one-up-small-tablet one-up-mobile" style="padding: 0 0 0 12px;">
                                
                                <div class="row">
                                    <div class="one half">
                                        <div class="bl3">
                                            <p class="t">员工培养</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one whole">
                                        <img src="static/images/culture2.png" class="" weight = "100%" height = "370px">
                                    </div>
                                </div>

                                <div class="row mtm">
                                    <div class="one half">
                                        <div class="w310" style="float:left;">
                                        <div class="bl3">
                                            <p class="p">上汽大众提倡人人都是志愿者的理念，鼓励员工积极参与志愿服务活动。2011年，公司成立了青年志愿者服务总队，并出台了《上海大众青年志愿者管理条例（试行）》，鼓励员工提供志愿服务，践行志愿者使命。成立至今，青年志愿队已经开展了包括社区用车咨询、走进敬老院、地铁站等各类社会公益活动。此外，公司还组织员工参与植树等环保公益活动。2014年，公司组织员工参与社会公益，累计开展志愿者活动161次。</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="one half">
                                        <img src="static/images/culture3.png"  style="float:right">
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row hide-on-desktop hide-on-ipad">
                            <div class="one third one-up-small-tablet one-up-mobile">
                                <div class="w310">
                                    <div class="bl3">
                                        <p class="t">助力灾区重建</p>
                                        <p class="p">2014年8月,云南省昭通市鲁甸县发生6.5级地震。上汽大众向地震灾区捐赠200万元人民币,用于支持抗震救灾工作,帮助灾区同胞重建家园。</p>
                                    </div>
                                    <img src="../assets/images/resp/17.jpg" alt="">
                                </div>
                            </div>
                            <div class="one third one-up-small-tablet one-up-mobile">
                                <div class="w310">
                                    <div class="bl3 mtl ">
                                        <p class="t">爱心义卖</p>
                                        <p class="p">2014年,公司在各工厂举办了“践行卓越 与爱同行”爱心义卖会,动员全体员工的力量,募集爱心善款。义卖所得50万元人民币全部捐赠于上海市罕见病防治基金会,持续聚焦社会关爱。</p>
                                    </div>
                                    <img src="../assets/images/resp/18.jpg" class="">
                                </div>
                            </div>
                            <div class="one third one-up-small-tablet one-up-mobile">
                                <div class="w310">
                                    <div class="bl3 mtl ">
                                        <p class="t">志愿服务活动</p>
                                        <p class="p">上汽大众提倡人人都是志愿者的理念，鼓励员工积极参与志愿服务活动。2011年，公司成立了青年志愿者服务总队，并出台了《上海大众青年志愿者管理条例（试行）》，鼓励员工提供志愿服务，践行志愿者使命。成立至今，青年志愿队已经开展了包括社区用车咨询、走进敬老院、地铁站等各类社会公益活动。此外，公司还组织员工参与植树等环保公益活动。2014年，公司组织员工参与社会公益，累计开展志愿者活动161次。</p>
                                    </div>
                                    <img src="../assets/images/resp/19.jpg" class="">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
        
    {% endblock %}