{% extends 'base.html' %}
{% block content %}

<div class="container1440 mbll">
            
            <h1 class="titleH1">产品与介绍</h1>
            
            <div class="container1440">
                <div class="container mtl">
                    <div class="row btlk">
                        <div class="one half">
                            <div id="a1"><img src="static/images/product.jpg" height = "300px" style ="margin-left:100px"/></div>
                        </div>
                        <div class="one half ltxt">
                            <div class="inner">
                                <div class = "iosSliderVertical">
                                    <div class = "slider">
                                        <div class = "item">
                                            <p style="font-size:16px; margin:50px 5px 0; line-height:1.9;">上汽大众大众品牌包括Polo品牌、Santana桑塔纳品牌、Lavida家族、Passat帕萨特、Tiguan途观、Touran途安和Lamando凌渡等产品系列。从企业成立以来，上汽大众不仅引入了各个时期技术先进、质量领先的大众品牌车型，而且根据中国道路特点与中国消费者的需求，对相关车型进行了本土化设计与调整。随着技术研发和创新能力的持续提升，各款大众品牌的车型都完美地融入了中国本土市场，并赢得了消费者的青睐。</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row cars">
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car newpolo">
                                <div class="car_bg"><img src="static/images/product1.jpg" height = "250px"  style="margin-left:5px"/></div>
                                <div class="car_name" >New Polo</div>
                                <div class="car_info">
                                    <p>凭借魅力十足的时尚外观，New Polo 吸引了众多年轻消费者的目光。New Polo犀利硬朗又时尚大方的精湛设计。</p>
                                </div>
                            </div>
                        </div>
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car newpolo">
                                <div class="car_bg"><img src="static/images/product2.jpg"height = "250px" /></div>
                                <div class="car_name" >New Polo</div>
                                <div class="car_info">
                                    <p>凭借魅力十足的时尚外观，New Polo 吸引了众多年轻消费者的目光。New Polo犀利硬朗又时尚大方的精湛设计。</p>
                                </div>
                            </div>
                        </div>
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car newpolo">
                                <div class="car_bg"><img src="static/images/product3.jpg" height = "250px" /></div>
                                <div class="car_name" >New Polo</div>
                                <div class="car_info">
                                    <p>凭借魅力十足的时尚外观，New Polo 吸引了众多年轻消费者的目光。New Polo犀利硬朗又时尚大方的精湛设计。</p>
                                </div>
                            </div>
                        </div>
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car newpolo">
                                <div class="car_bg"><img src="static/images/product1.jpg"height = "250px" style="margin-rgiht:5px" /></div>
                                <div class="car_name" >New Polo</div>
                                <div class="car_info">
                                    <p>凭借魅力十足的时尚外观，New Polo 吸引了众多年轻消费者的目光。New Polo犀利硬朗又时尚大方的精湛设计。</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row cars bg2">
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car gransantana">
                                <div class="car_bg"><img src="static/images/product2.jpg"height = "250px"  style="margin-left:5px" /></div>
                                <div class="car_name" >Gran Santana 桑塔纳·浩纳</div>
                                <div class="car_info">
                                    <p>2015年6月,桑塔纳品牌的全新成员桑塔纳﹒浩纳上市，为桑塔纳品牌注入了更多年轻和活力。</p>
                                </div>
                            </div>
                        </div>
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car gransantana">
                                <div class="car_bg"><img src="static/images/product3.jpg" height = "250px" /></div>
                                <div class="car_name" >Gran Santana 桑塔纳·浩纳</div>
                                <div class="car_info">
                                    <p>2015年6月,桑塔纳品牌的全新成员桑塔纳﹒浩纳上市，为桑塔纳品牌注入了更多年轻和活力。</p>
                                </div>
                            </div>
                        </div>
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car gransantana">
                                <div class="car_bg"><img src="static/images/product1.jpg" height = "250px" /></div>
                                <div class="car_name" >Gran Santana 桑塔纳·浩纳</div>
                                <div class="car_info">
                                    <p>2015年6月,桑塔纳品牌的全新成员桑塔纳﹒浩纳上市，为桑塔纳品牌注入了更多年轻和活力。</p>
                                </div>
                            </div>
                        </div>
                        <div class="one fourth two-up-small-tablet two-up-mobile">
                            <div class="inner relative car gransantana">
                                <div class="car_bg"><img src="static/images/product2.jpg"height = "250px"  style="margin-right:5px" /></div>
                                <div class="car_name" >Gran Santana 桑塔纳·浩纳</div>
                                <div class="car_info">
                                    <p>2015年6月,桑塔纳品牌的全新成员桑塔纳﹒浩纳上市，为桑塔纳品牌注入了更多年轻和活力。</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    {% endblock %}